* {
  box-sizing: border-box;
  color: #abb2bf;
  font-family: Raleway,sans-serif;
}

body {
  display: flex;
  flex-flow: row wrap;
  background-color: #282c34;
  margin: 0;
}

.panel {
  position: relative;
  padding: 15px;
}

.row {
  flex: 0 0 100%;
}

.flex-2 {
  flex: 2;
}

#buildings {
  border-bottom: 1px solid black;
  background-color: #21252b;
}

#ingridients, #basic-ingridients {
  border-left: 1px solid black;
}

h1 {
  width: 100%;
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
}

.hidden {
  display: none;
}

.action_icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #282c34;
  border: 1px solid black;
  cursor: pointer;
}

.remove {
  background-image: url(../images/actions/trash.png);
}
