#menu, #sub-menu {
  display: flex;
  list-style: none;
  flex: 0 0 100%;
  margin: 0;
  border-bottom: 1px solid black;
}

#menu li {
  font-size: 18px;
}

#menu li img {
  width: 50px;
}

#menu li#search-bar {
  position: absolute;
  right: 0;
  width: 200px
}

#menu li, #sub-menu li {
  padding: 5px 15px;
  cursor: pointer;
}

#menu li:hover:not(#search-bar), #sub-menu li:hover {
  background-color: #282c34;
}

#menu li.active, #sub-menu li.active {
  background-color: #42464e;
}

#sub-menu li:not(:last-child) {
  border-right: 1px solid black;
}

#search-bar input {
  background-color: #42464e;
  margin: 0;
  border: 0;
  padding: 4px;
  color: white;
  outline: none;
}
