* {
  box-sizing: border-box;
  color: #abb2bf;
  font-family: Raleway,sans-serif;
}

body {
  display: flex;
  flex-flow: row wrap;
  background-color: #21252b;
  margin: 0;
}

.panel {
  padding: 15px;
}

.row {
  flex: 0 0 100%;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

#buildings {
  border-bottom: 1px solid black;
}

#ingridients, #selected {
  background-color: #282c34;
}

#ingridients {
  border-left: 1px solid black;
}

h1 {
  width: 100%;
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
}

.hidden {
  display: none;
}
